<form class="form-block well" role="form">
    <div id="search-form-group" class="form-group has-feedback">
        <label class="control-label" for="form-url"></label>
        <input type="text" type="url" name="url" id="form-url" placeholder="Paste new link here or enter search term" class="form-control" ng-model="omnibox" ng-keypress="linkInputKeystroke($event)"/>
        <span id="search-form-icon" class="glyphicon glyphicon-link form-control-feedback" ng-show="omnibox | startsWithHttp" ></span>
    </div>
    <div id="link-input-details">
        <div class="form-group has-feedback">
            <input type="text" name="name" value="Loading" id="form-name" class="form-control" />
        </div>
        <div class="form-group">
            <textarea name="summary" placeholder="Summary" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <input type="text" name="tag_list" placeholder="tags" class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div class="row">
    <div class="col-md-10">
        <div ng-repeat="link in links | filter:omnibox">
            <div>
                <a href="{{link.shortlink}}" class="mainlinks">{{link.name}}</a> 
            </div>
            <div>
                <ul class="list-inline text-muted">
                    <li>{{ link.created_at | date: format}}</li>
                    <li>{{ link.url | domain }}</li>
                    <li>
                    <ul class="list-inline">
                        <li ng-repeat="tag in link.tags">
                            <span class="badge alert-success">{{ tag.name }}</span>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
